<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <% @beer_club.users.each do |user| %>
  <%= link_to user.username, user %>
  <% end %>
</p>

<% if current_user %>

<% if not @beer_club.users.exists?(current_user) %>
<%= form_for(@membership) do |f| %>
<%= f.hidden_field :beer_club_id %>
<%= f.submit value:"join the club", class:"btn btn-primary" %>
<% end %>
<br>

<% else %>
<%= form_for(@membership, method: "delete") do |f| %>
<%= f.hidden_field :beer_club_id %>
<%= f.submit value: "end the membership", class:"btn btn-danger" %>
<% end %>

<br>

<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>

<% end %>
