<h2>Rating statistics</h2>

<div class="row">
  <div class="col-md-4">
    <h3>Best beers</h3>
    <%= render 'statistics_list', objects: @top_beers %>
  </div>
  <div class="col-md-4">
    <h3>Best breweries</h3>
    <%= render 'statistics_list', objects: @top_breweries %>
  </div>
  <div class="col-md-4">
    <h3>Best styles</h3>
    <%= render 'statistics_list', objects: @top_styles %>
  </div>
</div>

<h3>Most active users</h3>
<%= render 'most_active_users_list', users: @most_active_users %>

<h3>Recent ratings</h3>

<%= render 'recent_ratings_list', ratings: @recent_ratings %>

